.card{
  box-sizing: border-box;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  display: inline-block;
  overflow: hidden;
}


.card .card-image{
    max-width: 60%;
    height: auto;
    width: auto;
    object-fit: contain;
    /*border-radius: 50%; */
    margin-bottom: 10px;
}

.card .card-title{
  font-family: Arial, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 20%);
}

.card .card-text{
  font-family: Arial, sans-serif;
  color: jhsl(0, 0%, 30%);
}