.header{
  background-color: hsl(0, 0%, 75%);
  padding: 20px;
  text-align: center;
  width: 100%;
}

.header .header-title{
  color: white;
  font-family: 'Arial', sans-serif;
  margin: 0;
}

.search-container{
  text-align: center;
  margin: 20px;
  width: 100%;
  height: auto;
}

.searchbar{
  padding: 10px;
  margin: 10px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 5px;
  font-size: 16px;
}

.card{
  box-sizing: border-box;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  display: inline-block;
  overflow: hidden;
}

.card .card-image{
    max-width: 60%;
    height: auto;
    width: auto;
    object-fit: contain;
    /*border-radius: 50%; */
    margin-bottom: 10px;
}

.card .card-title{
  font-family: Arial, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 20%);
}

.card .card-text{
  font-family: Arial, sans-serif;
  color: jhsl(0, 0%, 30%);
}